<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content class="backimage">
                <v-layout align-center column justify-end pa-4>
                    <h2 class="headline">{{ message.welcome }}</h2>
                </v-layout>
                <v-snackbar v-model="snackbar" :multi-line="multiLine">
                    {{ showMsg }}
                    <v-btn color="red" text @click="snackbar = false">
                        Close
                    </v-btn>
                </v-snackbar>
                <div class="text-center">
                    <v-btn @click="getStatus">
                        <v-icon>people</v-icon>&nbsp;체크인 고객 확인</v-btn>
                </div>
                <v-layout align-center column justify-end pa-4>
                    <v-flex xs6>
                        <v-form ref="checkInInput" v-on:submit.prevent lazy-validation>
                            <v-text-field :rules="[hotel.rules.required, hotel.rules.chkString, hotel.rules.chkCheckIn(checkInName, hotel.customers)]" solo label="Check In" v-model="checkInName" @keypress.enter="checkIn" prepend-inner-icon="how_to_reg" clearable></v-text-field>
                        </v-form>
                    </v-flex>
                    <v-flex xs6>
                        <v-form ref="checkOutInput" v-on:submit.prevent lazy-validation>
                            <v-text-field :rules="[hotel.rules.required, hotel.rules.chkString, hotel.rules.chkCheckOut(checkOutName, hotel.customers)]" solo label="Check Out" v-model="checkOutName" @keypress.enter="checkOut" prepend-inner-icon="directions_run" clearable></v-text-field>
                        </v-form>
                    </v-flex>
                    <v-flex xs12>
                        <v-combobox solo v-model="hotel.customers" :items="hotel.customers" label="Customers" prepend-inner-icon="people" multiple chips></v-combobox>
                    </v-flex>
                </v-layout>
            </v-content>
        </v-app>
    </div>
</body>

</html>

<style>
    .backimage {
        background-size: cover;
        background-image: url("./hotel.jpg");
        background-repeat: no-repeat;
    }
    
    .content {
        padding: 30px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.5);
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    class Hotel {
        constructor() {
            const _self = this;
            this.customers = [];
            this.messages = {
                required: v => '고객님의 성함이 입력되지 않았습니다.',
                chkString: v => `${v} 값은 문자열이 아닙니다.`,
                dupCheckIn: v => `이미 ${v}님은 체크인 하셨습니다.`,
                alreadyCheckOut: v => `${v}님은 체크인 명단에 없습니다.`
            };
            this.rules = {
                required: v => (v !== null && v !== '') ? true : _self.messages.required(v),
                chkString: v => typeof v === 'string' ? true : _self.messages.chkString(v),
                chkCheckIn: (v, customers) => {
                    const cnt = customers
                        .filter(customer => customer === v ? true : false)
                        .length
                    return cnt ? _self.messages.dupCheckIn(v) : true
                },
                chkCheckOut: (v, customers) => {
                    const cnt = customers
                        .filter(customer => customer === v ? true : false)
                        .length
                    return cnt ? true : _self.messages.alreadyCheckOut(v)
                }
            };
        }
        getStatus() {
            const customers = this.customers.map(v => `${v}님`).join(", ")
            return customers === '' ? '체크인한 고객이 없습니다.' : `${customers}이 체크인했습니다.`;
        }
        checkIn(name) {
            this.customers.push(name);
            return `안녕하세요. ${name}님 반갑습니다.`;
        }
        checkOut(name) {
            const idx = this.customers.indexOf(name)
            this.customers.splice(idx, 1)
            return `${name}님 감사합니다. 안녕히 가세요.`;
        }
    }

    let app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            message: {
                welcome: '안녕하세요. 부다페스트 호텔에 오신 것을 환영합니다.'
            },
            showMsg: '',
            multiLine: true,
            snackbar: false,
            hotel: {
                rules: {}
            },
            checkInName: '',
            checkOutName: ''
        },
        methods: {
            getStatus: function() {
                this.snackbar = false
                this.showMsg = this.hotel.getStatus()
                this.snackbar = true
            },
            checkIn: function(event) {
                this.snackbar = false
                if (this.$refs.checkInInput.validate()) {
                    this.showMsg = this.hotel.checkIn(event.target.value)
                    this.checkInName = ''
                } else {
                    this.showMsg = '체크인 도중 오류가 발생했습니다. 입력 값을 확인하세요.'
                }
                this.snackbar = true
            },
            checkOut: function(event) {
                this.snackbar = false
                if (this.$refs.checkOutInput.validate()) {
                    this.showMsg = this.hotel.checkOut(event.target.value)
                    this.checkOutName = ''
                } else {
                    this.showMsg = '체크아웃 도중 오류가 발생했습니다. 입력 값을 확인하세요.'
                }

                this.snackbar = true
            }
        },
        created: function() {
            this.hotel = new Hotel()
        }
    });
</script>