<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Counter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-layout align-center column justify-end pa-4>
                    <h2 class="headline">{{ fishBread.message.welcome }}</h2>
                    <br>
                    <subheader>{{ fishBread.message.beforeBake(fishBread.shape, fishBread.getCrunchy(), fishBread.flavor) }}</subheader>
                    <v-btn @click="fishBread.result = fishBread.bake()">
                        {{ fishBread.message.pleaseBake }}
                    </v-btn>
                </v-layout>
                <v-layout align-center column justify-center pa-4>
                    <v-card
                        class="d-inline-flex justify-center pa-6"
                        flat
                        tile
                    >
                        <v-color-picker
                            v-model="fishBread.color"
                            class="ma-3" 
                            mode.sync="hexa"
                            hide-inputs
                            label="Color"
                        ></v-color-picker>
                        <v-layout align-begin column>
                            <v-slider
                                v-model="fishBread.temperature"
                                max="200"
                                min="50"
                                color="red"
                                track-color="yellow"
                                thumb-label="always"
                                label="Temperature"
                            ></v-slider>
                            <v-autocomplete
                                v-model="fishBread.shape"
                                :items="fishBread._shapes"
                                label="shape"
                            >
                            </v-autocomplete>
                            <v-autocomplete
                                v-model="fishBread.flavor"
                                :items="fishBread._flavor"
                                label="flavor"
                            >
                            </v-autocomplete>
                        </v-layout>
                    </v-card>
                </v-layout>
                <v-layout align-center column justify-end pa-4>
                    <h1 class="bread">{{ fishBread.result }}</h1>
                </v-layout>
            </v-content>
        </v-app>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>

class FishBread {
    constructor(shape='Heart', color='#FFBD00', temperature=100, flavor='Sweet Red Bean') {
        this._shapes = ['Circle', 'Triangle', 'Heart', 'Cloud'];
        this._flavor = ['Sweet Red Bean', 'Pizza', 'Vegitable', 'Cheeze'];
        this._shapeIcon = {
            Circle: 'lens',
            Triangle: 'change_history',
            Heart: 'favorite',
            Cloud: 'wb_cloudy'
        };
        this._crunchy = {
            r: 'RARE',
            mr: 'MEDIUM RARE',
            m: 'Medium',
            mw: 'MEDIUM WELL',
            w: 'WELL DONE'
        };
        this.message = {
            welcome: '안녕하세요. Javascript FishBread Shop 입니다.',
            beforeBake: (s, c, f) => `${s} 모양, ${c} 굽기인 ${f}맛일 것 같아요!`,
            takeOrder: `주문해주세요.`,
            isOkay: '이대로 빵을 만들까요?',
            bakeComplete: result => `${result}빵이 완성되었습니다. 맛있게 드세요!`,
            pleaseBake: '구워주세요!!'
        };

        this.shape = shape;
        this.color = color;
        this.temperature = temperature;
        this.flavor = flavor;
        this.result = '';
    }
    getCrunchy() {
        const crunchyValue = this.temperature<100 && 'r'
                ||  this.temperature<120 && 'mr'
                ||  this.temperature<140 && 'm'
                ||  this.temperature<160 && 'mw'
                ||  'w';
        return this._crunchy[crunchyValue];
    }
    getFlavor() {
        return this.flavor;
    }
    bake() {
        const isBake = confirm(this.message.isOkay)
        const result = !isBake ? '' : `<font color="${this.color}"><i class="material-icons">${this._shapeIcon[this.shape]}</i> ${this.flavor}, ${this.getCrunchy()} </font>`;
        const h1 = document.querySelector('.bread');
        console.log(h1);
        h1.innerHTML = result;
    }
}
    /*
    */
    let app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            fishBread: {},
            showMsg: ''
        },
        created: function() {
            this.fishBread = new FishBread()
        }
    });
</script>